<nav class="navbar bg-light">
  <div class="container-fluid">
    <span class="navbar-brand"><%= render "shared/home_button" %></span>
    <span class="navbar-brand"><%= link_to "Mon Panier", carts_path, class: "btn btn-sm" %></span>
    <span class="navbar-brand"><%= render "shared/login_buttons" %></span>
  </div>
</nav>
