
<div class="container">
  <%= render 'titleh1' %>
  <div class="card-container">
    <% @products.each do |product| %>
      <div class="product-card">
        <%= render partial: "product_card", locals: { product: product } %>
      </div>
    <% end %>
  </div>
</div>
