<h1>Products#index</h1>
<div class="container">
  <%= render 'login_buttons' %> <!-- Inclure le partial des boutons de connexion/déconnexion -->

  <div class="row">
    <% @products.each do |product| %>
      <div class="col-md-4 mb-4">
        <%= render partial: "product_card", locals: { product: product } %> <!-- Inclure le partial pour chaque produit -->
      </div>
    <% end %>
  </div>
</div>
