<div class="container">
  <%= render 'titleh1' %>
  <div class="container-show">
    <h2 class="show-title"><%= @product.nom %></h2>
      <%= render partial: "product_show", locals: { product: @product } %> <!-- Inclure le partial pour ce produit -->
  </div>
</div>
