<h1>Products#show</h1>
<div class="container">
  <%= render 'login_buttons' %> <!-- Inclure le partial des boutons de connexion/déconnexion -->

  <div class="row">
    <div class="col-md-4">
      <%= render partial: "product_card", locals: { product: @product } %> <!-- Inclure le partial pour ce produit -->
    </div>
  </div>
</div>
